@model IEnumerable<Fall2024_Assignment3_iqstevens.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<h1>Actors</h1>

<p>
    <a asp-action="Create" style="font-size: 20px;">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="font-size: 20px;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="font-size: 20px;">
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th style="font-size: 20px;">
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th style="font-size: 20px;">
                @Html.DisplayNameFor(model => model.IMDB)
            </th>
            <th style="font-size: 20px;">
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="font-size: 20px;">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="font-size: 20px;">
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td style="font-size: 20px;">
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td style="font-size: 20px;">
                @if (!string.IsNullOrEmpty(item.IMDB))
                {
                    <a href="@item.IMDB" target="_blank">View on IMDB</a>
                }
                else
                {
                    <span>No IMDB link</span>
                }
            </td>
            <td>
                @if (item.Photo != null && item.Photo.Length > 0)
                {
                    var extension = ".jpg";
                    if (item.Photo.Length > 0)
                    {

                        extension = ".jpeg";
                    }

                    var mimeType = extension == ".png" ? "image/png" : "image/jpeg";

                    <img src="data:@mimeType;base64,@Convert.ToBase64String(item.Photo)" alt="Poster" style="width: 150px; height: auto;" />
                }
                else
                {
                    <span>No image available</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" style="font-size: 20px;">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" style="font-size: 20px;">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="font-size: 20px;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
